body{
    margin: 0;
    background-color: #fdfdfd;
    
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-image:url(bg-pattern-orbit.svg) ;
    
    

    
}


.Orbit{
    display: flex;
    font-weight: 600;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

    

a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 25px ;

}
a:hover{
    color: black;
    transition: 0.3s;
}

.login{
    font-family: sans-serif;
    font-weight: 600;
    width: 70px;
    height: 35px;
}
.signupbtn{
    padding: 7px;
    border-radius: 10px;
    background: darkgreen;
    width: 70px;
    height: 35px;
    border: none;
    color: #fdfdfd;
    font-weight: bold;
    
    


}
.signupbtn:hover{
    background-color: gray;
    cursor: pointer;
}






#bt-container{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}


.bt-container{
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    border-radius: 10px;
    border-right: solid;
    border-color: rgb(179, 179, 172);
    border-width: 1px;
    box-shadow: 3px 4px 10px rgba(0,0,0,0.3);
    
}
.a-2{
    padding: 0%!important;
    font-size: small;

}
 
.arrow{
    height: 20px;
    align-items: center;
    
}


.dot{
    height: 20px;
    align-items: center;
    
}

.empower{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
}


.connect{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: sans-serif;
    

}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}





.getstartedbtn{
    padding-top: 20px;
    color: darkgreen;
    display: flex;
    text-align: center;
    
    
}


.button{
    width: 90px;
    height: 35px;
    border: none;
    color: white;
    border-radius: 5px;
    color: white;
    background-color: rgb(19, 50,19);
    border-radius: 5px;
    font-weight: bold;
    
}
.button:hover{
    color: black;
    background-color: rgb(183,194,203);
}
#menu{
    display: none;
    z-index: 2;
}
#menudiv{
   background-color: darkgreen; 
   width: 40px;
   height: 4px;
   border-radius: 10px;
   margin-bottom: 8px;
}
.sidebar{
    display: none;
}
@media screen and (max-width: 768px) {
.nav{
    display: none;
    padding: 10px;
}
    #menu{
        display: block;
    }
    
}
.sidebar {
      width: 250px;
      height: 100vh;
      background: #333;
      color: white;
      position: fixed;
      right: -250px; 
      transition: left 0.3s ease;
      top: 0;
      display: block;
    }
    
    .sidebar.active {
       right: 0; 
    }
   





   

