@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    margin: 0;
    font-family: "poppins", sans-serif;

    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    background-color: lavenderblush;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

a:hover {
    color: grey;
}

.hero {
    display: flex;
    flex-direction: horizontal;
     justify-content: space-between; 
    margin-top: 64px;
    border-style: solid;
    border-width: thick;
    border-left-color: black;
    border-right-color: crimson ;
    border-top-color: crimson;
    padding: 12px;
    background-color: lightcoral;
    -webkit-transition: all;
    
}
.hero-left{

}


h1 {
    color: blueviolet;
}

button {
    background-color: cornflowerblue;

    height: 30px;
    width: 100x
}

button:hover {
    color: cyan;
    transition: 0.7s;
}



.my-picture {
    width: 200px;
    height: 200px;
    border-radius: 250px;
    object-fit: cover;
    justify-content: right;
    display: flex;
    justify-content: left;
    padding-right: 50px;
    padding-left: 0;
    
    
    
}
.hero-righ{
    padding-right: px;
}
.footer{
    text-align: center;
    color: cadetblue;
    font-size: large;
    font-weight: bold;
    margin-top: 30px;

}
@media screen and (max-width: 550px){
    .hero{
        display: flex;
        flex-direction: column-reverse;
    }
    
}

